*{
    background: #ECE8E4;
    margin: 0.5%;
}

.titulo{
    font-family: 'Hurricane', cursive;
}

h2{
    font-family: 'Handlee', cursive;
    text-align: center;
}

p{
    font-family: 'Handlee', cursive;
}

section, h2{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.container{
    display: flex;
    justify-content: space-between;

}
.logo{
    height: 10vh;
    width: 10vh;
}

/* .card, h5 {
    background-color: white;
    font-family: 'Handlee', cursive;
}
button{
    border-radius: 0.5rem;
}
img{
    align-items: center;
    margin-top: 0.5%;
} */
/* Cards */

.App{
    background: #ECE8E4;
}